<html>
    <head>
        <title>Grace's blog</title>
    </head>
    <body>
        <div>
            <h1><a href="">Grace's Blog</a></h1>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My first post</a></h2>
            <p>This blog is taking forver to build</p>
        </div>

        <div>
            <p>published: 14.06.2014, 12:14</p>
            <h2><a href="">My second post</a></h2>
            <p>It's still taking so long</p>
        </div>
    </body>
</html>
